.products-page {
    display: flex;
    min-height: 80vh;   
}

.product-left,
.product-right {
    position: relative !important;
    min-width: 50%;
    padding: 40px 20px !important;
}

.product-right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.product-left {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

#product-intro {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(78, 161, 75);
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.cards .item {
    height: 200px;
    background-color: rgb(78, 161, 75);
}

#paragraph {
    margin: auto;
}

.product-title {
    color: #008000;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.list-icon {
    width: 50px !important;
}

.product-description {
    padding-left: 50px;
    color: #008000;
}


@media only screen and (max-width: 840px) {

    .products-page {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;   
        padding-top:20px;
       
    }

    .product-left,
    .product-right {
        width: 100vw;
    }

}