.products-page {
 min-width: 100vw;
 min-height: 40vw;
 padding: 2% 15%;
}


.product-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    padding: 2% 5%;
}

.product-logo{
    width: 35%;
}

.product-item div{
    margin: 0px 20px;
}

.product-title{
    font-size: 25px;
    font-weight: bold;
}


@media only screen and (max-width: 840px) {

    .products-page {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;   
        padding-top:20px;
       
    }

    .product-left,
    .product-right {
        width: 100vw;
    }

}