.about-page {
    min-height: 90vh;
   
}

.about-left,
.about-right {
    padding: 2% 8%;
}

.about-left {
    text-align: center;
   
}

.about-right {
    background-color: #f7f7f7;
    text-align: center;
    width: 100vw;
}


.slogan-title,
.team-title,
.right-title {
    color: rgb(78, 161, 75);
    font-weight: bold;
    font-size: 30px;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
}

#card-item {
    border: none;
}

.team-image {
    border: 1px rgb(104, 100, 100) solid;
    border-radius: 100% 100%;
    height: 150px;
    width: 150px;
    margin-right: 0px;
    object-fit: contain;
    padding: 5px;
}

.team-info {
    font-size: 13px;
}


.partners-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
}

.partner-img {
    border: none;
    height: 300px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    object-fit: contain;
    border-radius: 5px;
    padding: 5px;

}

.partner-info {
    font-size: 13px;
    text-align: center;
}





@media only screen and (max-width: 800px) {

    .about-page {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }

    .about-left,
    .about-right {
        width: 100vw;
    }

}