.home-page {
    display: flex !important;
    height: 90vh;
}

.left,
.right {
    position: relative;
    min-width: 50%;
}

.right {
    background-color: rgb(78, 161, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.home-logo {
    width: 85%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    flex-wrap: wrap;
}

.home-link {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(92, 131, 83);
    border-radius: 12px;
    width: 200px;
    margin-bottom: 10px;
}

.home-link:hover {
    background-color: rgb(25, 44, 24);
    border: 1px solid rgb(78, 161, 75);
    color: #fff;
}


@media only screen and (max-width: 800px) {
    .home-page {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;

    }

    .left,
    .right {
        width: 100vw;
    }

    .right {
        padding-bottom: 60px;
    }

    .home-logo {
        width: 75vw;
        display: block;
        object-fit: 100% 100%;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        font-size: 40px;
    }

}